<div class="register-section">
    <div class="register-main">
        <div class="col-md-6 col-sm-12">
            <div class="register-form p-2">
                <form action="/store" method="POST">
                    <div class="form-group mt-2">
                        <label for="phone">Số điện thoại</label>
                        <input type="text" class="form-control" id="phone" name="phone" required>
                    </div>
                    <div class="form-group mt-2">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="form-group mt-2">
                        <label for="password">Mật khẩu</label>
                        <input type="password" class="form-control" id="password" name="password" autocomplete="true">
                    </div>
                    <div class="form-group mt-2">
                        <label for="name">Tên đầy đủ</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="form-group mt-2">
                        <label for="birthday">Ngày sinh</label>
                        <input type="date" class="form-control" id="birthday" name="birthday"
                                value="2000-01-01"
                                min="1960-01-01" max="2020-12-31">
                    </div>
                    <div class="form-group mt-2">
                        <label for="address">Địa chỉ</label>
                        <input type="text" class="form-control" id="address" name="address">
                    </div>

                    {{#ifeq success false}}
                    <div class="alert alert-danger mt-4" role="alert">
                        {{msgReg}}
                    </div>
                    {{/ifeq}}

                    {{#ifeq success true}}
                    <div class="alert alert-success mt-4" role="alert">
                        {{msgReg}}
                        <a href="/login" class="btn btn-success" role="button">Ấn vào đây để đăng nhập</a>
                    </div>
                    {{/ifeq}}

                    <div class="mt-4">
                        <button type="submit" class="btn btn-black">Đăng kí</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <a href="/login">
        <div id="move-to-login-section">
            <div class="register-sidenav">
                <div class="register-main-text">
                <h2> Đăng kí</h2>
                <p class="text-muted">Ấn vào đây để <span>ĐĂNG NHẬP</span> nếu bạn đã có tài khoản.</p>
                </div>
            </div>
        </div>
    </a>
</div>